*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, sans-serif;
}

body{
  background:#f1f5f9;
  padding:20px;
}

/* KHUNG */

.container{
  max-width:450px;
  margin:auto;
}

/* LOGIN */

.auth-box{

  background:white;

  padding:25px;

  border-radius:20px;

  margin-bottom:25px;

  box-shadow:0 4px 10px rgba(0,0,0,0.05);
}

.auth-box h1{

  text-align:center;

  margin-bottom:20px;

  font-size:28px;
}

/* INPUT */

input{

  width:100%;

  padding:15px;

  margin-bottom:15px;

  border:none;

  border-radius:12px;

  background:#f1f5f9;

  font-size:16px;
}

/* BUTTON */

button{

  width:100%;

  padding:15px;

  border:none;

  border-radius:14px;

  background:#2563eb;

  color:white;

  font-size:17px;

  font-weight:bold;

  margin-bottom:12px;

  cursor:pointer;

  transition:0.2s;
}

button:hover{
  background:#1d4ed8;
}

/* MENU */

.menu{
  margin-bottom:25px;
}

/* CARD */

.news-card{

  background:white;

  padding:20px;

  border-radius:20px;

  margin-bottom:20px;

  box-shadow:0 4px 10px rgba(0,0,0,0.05);
}

.news-card h2{

  font-size:28px;

  margin-bottom:12px;

  line-height:1.3;
}

.news-card p{

  color:#475569;

  font-size:18px;

  line-height:1.5;

  margin-bottom:15px;
}

/* RESULT */

#result{

  text-align:center;

  margin-top:10px;

  font-weight:bold;
}
